@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  background: #8CD1D6; }

header {
  padding-top: 10px;
  text-align: center; }
  header .title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; }
    header .title a {
      color: #333;
      border-bottom: 1px solid #333; }
      header .title a:hover {
        text-decoration: none;
        border-color: transparent; }

section#app {
  width: 700px;
  margin: 50px auto;
  min-height: 380px;
  position: relative; }
  section#app .e {
    position: absolute; }

.i-would-like-a,
.of-my-design,
.made-with,
.delivered-to {
  -webkit-transition: 0.7s ease-out 0.3s;
  transition: 0.7s ease-out 0.3s; }

.i-would-like-a {
  top: 10px;
  left: 277px;
  margin: 0;
  font-size: 24px; }

.of-my-design {
  top: 0;
  left: 402px;
  margin: 0;
  font-size: 120px;
  opacity: 0;
  width: auto; }

.made-with {
  top: 110px;
  left: -2000px;
  margin: 0;
  opacity: 0;
  font-size: 20px; }

.delivered-to {
  top: 0;
  left: 392px;
  margin: 0;
  opacity: 0;
  font-size: 120px;
  width: auto; }

.file {
  cursor: pointer;
  -webkit-transition: 1.2s ease-out 0.4s;
  transition: 1.2s ease-out 0.4s;
  left: 505px;
  top: -5px;
  opacity: 0;
  width: 60px;
  text-align: center;
  padding: 60px 0 0;
  background: url(/img/icon-filename.png) no-repeat;
  background-size: contain; }
  .file .filename {
    font-size: 12px; }

.product {
  top: -400px;
  left: 130px;
  width: 100px;
  text-align: center;
  -webkit-transition: 0.5s ease-out 0.3s;
  transition: 0.5s ease-out 0.3s; }
  .product a {
    display: block;
    margin: 0 0 5px; }
    .product a img {
      width: 100%;
      height: auto;
      display: block; }
    .product a:hover {
      -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
  .product h3 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase; }
  .product.selected {
    -webkit-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    left: 300px !important;
    top: -25px !important; }
  .product:not(.visible) {
    top: 500px !important;
    left: 300px !important;
    opacity: 0; }

section:not(.screen6) .subproduct:not(.selected) {
  opacity: 0 !important;
  top: 0 !important;
  left: 0 !important; }

.subproduct {
  width: 130px;
  -webkit-transition: 0.3s ease-out 0.1s;
  transition: 0.3s ease-out 0.1s;
  opacity: 0;
  top: 0;
  left: -500; }
  .subproduct:not(.visible) {
    top: 0 !important;
    right: 0 !important;
    opacity: 0 !important; }
  .subproduct.selected {
    left: 335px !important;
    top: 70px !important;
    -webkit-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75); }
  .subproduct h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 8px; }
  .subproduct a, .subproduct img {
    display: block; }
  .subproduct a:hover {
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  .subproduct img {
    width: 100%;
    height: auto; }

.subproduct-properties {
  -webkit-transition: 0.6s ease-out 0.1s;
  transition: 0.6s ease-out 0.1s;
  width: 360px;
  top: 0;
  left: -1000px;
  opacity: 0;
  overflow: hidden; }
  .subproduct-properties .form-group {
    float: left !important;
    padding: 0 1%; }
  .subproduct-properties button {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: none;
    color: #fff;
    border-radius: 50%;
    background: #27C028; }

.help-block {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 19px;
  font-size: 12px; }

.page-404 .title {
  font-size: 200%;
  text-align: center;
  padding: 50px 0 100px; }

.form-comment {
  -webkit-transition: 0.5s ease-out 0.3s;
  transition: 0.5s ease-out 0.3s;
  top: 0;
  left: -2000px;
  overflow: hidden; }
  .form-comment textarea {
    width: 400px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    padding: 10px; }
  .form-comment button {
    border: 0 none;
    background: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    float: right;
    clear: right;
    margin: 10px 0 0 20px; }
    .form-comment button span {
      display: block; }
    .form-comment button[type=submit] {
      background: #27C028; }
    .form-comment button[type=reset] {
      background: #FC282F; }

.delivered-to-container {
  -webkit-transition: 0.7s ease-out 0.3s;
  transition: 0.7s ease-out 0.3s;
  opacity: 0;
  top: -1000px;
  min-height: 130px;
  left: 60px;
  width: 600px; }
  .delivered-to-container .shipping-address,
  .delivered-to-container .paypal {
    background: #D3EDFE;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 130px;
    margin-bottom: 10px; }
  .delivered-to-container .shipping-address {
    padding: 10px 20px; }
  .delivered-to-container .paypal {
    float: left; }
  .delivered-to-container h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 6px 0; }

.form-address button {
  clear: both;
  display: block;
  border: 0 none;
  background: none;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin: 10px auto 0;
  background: #27C028; }

.form-address .form-group {
  margin-bottom: 3px !important; }

#blocked {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#app.screen2 .i-would-like-a {
  top: 10px;
  left: 177px;
  font-size: 20px; }

#app.screen3 .i-would-like-a {
  top: 10px;
  left: 177px;
  font-size: 20px; }

#app.screen3 .of-my-design {
  top: 10px;
  left: 402px;
  font-size: 20px;
  opacity: 1; }

#app.screen3 .upload-zone {
  left: 150px;
  top: 120px; }

#app.screen4 .products.selected {
  left: 270px !important; }

#app.screen4 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen4 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen4 .file {
  opacity: 1; }

#app.screen5 .product.selected {
  left: 270px !important; }

#app.screen5 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen5 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen5 .file {
  opacity: 1; }

#app.screen5 .form-comment {
  left: 121px;
  top: 140px;
  bottom: auto; }

#app.screen6 .product.selected {
  left: 270px !important; }

#app.screen6 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen6 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen6 .file {
  opacity: 1; }

#app.screen6 .made-with {
  top: 110px;
  left: 305px;
  margin: 0;
  opacity: 1;
  font-size: 20px; }

#app.screen6 .subproduct.visible {
  opacity: 1; }

#app.screen7 .product.selected {
  left: 270px !important; }

#app.screen7 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen7 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen7 .file {
  opacity: 1; }

#app.screen7 .made-with {
  top: 110px;
  left: 180px;
  margin: 0;
  opacity: 1;
  font-size: 20px; }

#app.screen7 .subproduct.selected {
  opacity: 1; }

#app.screen8 .product.selected {
  left: 270px !important; }

#app.screen8 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen8 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen8 .file {
  opacity: 1; }

#app.screen8 .made-with {
  top: 110px;
  left: 250px;
  margin: 0;
  opacity: 1;
  font-size: 20px; }

#app.screen8 .subproduct.selected {
  opacity: 1; }

#app.screen8 .subproduct-properties {
  opacity: 1;
  top: 220px;
  left: 179px;
  right: auto; }

#app.screen9 .product.selected {
  left: 270px !important; }

#app.screen9 .i-would-like-a {
  top: 10px;
  left: 147px;
  font-size: 20px; }

#app.screen9 .of-my-design {
  top: 10px;
  left: 372px;
  font-size: 20px;
  opacity: 1; }

#app.screen9 .file {
  opacity: 1; }

#app.screen9 .made-with {
  top: 110px;
  left: 190px;
  margin: 0;
  opacity: 1;
  font-size: 20px; }

#app.screen9 .delivered-to {
  top: 110px;
  left: 392px;
  margin: 0;
  opacity: 1;
  font-size: 20px; }

#app.screen9 .delivered-to-container {
  opacity: 1;
  top: 200px;
  bottom: auto; }

#app.screen9 .subproduct.selected {
  left: 270px !important; }

#app.screen9 .subproduct.selected {
  opacity: 1; }

#customer-credentials {
  min-height: 40px;
  padding: 10px 0; }
  #customer-credentials a {
    color: #333; }
  #customer-credentials .logged-in {
    overflow: hidden; }
    #customer-credentials .logged-in li {
      list-style: none;
      display: inline;
      margin: 0 4px; }

.upload-zone {
  position: absolute;
  top: -500px;
  left: 20px;
  width: 400px;
  height: 250px;
  overflow: hidden;
  background: url(/img/user-design-file-upload.png) no-repeat;
  background-size: contain;
  border: 0 none;
  -webkit-transition: 0.5s ease-out 0.3s;
  transition: 0.5s ease-out 0.3s; }
  .upload-zone .dz-default {
    display: none; }

.dropzone .dz-preview {
  margin: 57px 0 0 210px; }
  .dropzone .dz-preview.dz-image-preview {
    background-color: transparent !important; }

.breadcrumb {
  background: none; }

.breadcrumb > li + li:before {
  color: #333; }

.debug {
  display: none; }

footer ul, header ul {
  min-height: 40px;
  padding: 0;
  text-align: center; }
  footer ul li, header ul li {
    font-size: 14px;
    list-style: none;
    display: inline;
    margin: 0 4px; }
    footer ul li a, header ul li a {
      color: #333; }
    footer ul li.profile-link.logout, header ul li.profile-link.logout {
      border-left: 1px solid #333;
      padding-left: 10px; }

footer.profile-link.account {
  padding-left: 20px; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0); }
  20%, 80% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); }
  40%, 60% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0); }
  20%, 80% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); }
  40%, 60% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0); } }

/*# sourceMappingURL=app.css.map */
